%reset{
  margin: 0;
  padding: 0;
  border: none;
  font-family: Arial,'Microsoft YaHei';
}
%clear{
  content: '';
  display: block;
  clear: both;
}
@mixin userem($size){
  $shebei-list : 320px,350px,360px,384px,412px,414px,460px,640px;
  html{
    @each $shebei in $shebei-list{
      @media screen and(min-width: $shebei){
        font-size: 100px * ($shebei/$size)
      }
    }
  }
}
@include userem(350px);
ul,li{
  list-style: none;
  display: block;
}
body,ul,li,h1,h2,h3,h4,h5,h6,a,span,div,p,strong{
  @extend %reset;
}
img{
  width: 100%;
}
a:hover{
  text-decoration: none;
}
.container{
  height: 6rem;
  background: #EBEBEB;
}
.container-inner,.block,.content,.page{
  width: 100%;
  height: 100%;
}
.container{
  padding: 0;
  margin: 0;
}
.container-inner{
  width: 100%;
}
.header,.chat-header,.footer,.chat-footer{
  width: 100%;
  height: 0.5rem;
  position: fixed;
  left: 0;
  z-index: 1;
}
.footer{
  height: 0.55rem;
}
.header{
  top: 0;
  background: #393A3F;
  color: #fff;
  .header-left,.header-right{
    position: absolute;
    top: 0;
    height: 100%;
    text-align: center;
    line-height: .5rem;

  }
  .header-left{
    width: .65rem;
    left: 0;
    font-size: .18rem;
    letter-spacing: .01rem;
  }
  .header-right{
    width: 1.25rem;
    right: 0;
    span{
      font-size: .17rem;
      margin-right: .25rem;
    }
    .icon-jiahao{
      margin-left: .25rem;
    }
  }
}
.xiala{
  // display: none;
  opacity: 1;
  transition: opacity .4s ease;
  position: absolute;
  top: .5rem;
  right: .1rem;
  width: 1.96rem;
  background: #393A3F;
  z-index: 5;
  .xiala-item{
    width: 100%;
    height: .47rem;
    border-bottom: 1px solid #343539;
    padding: .1rem;
  }
  .xiala-item a{
    display: block;
    width: 100%;
    height: 100%;
    color: #fff;
    span:before{
      margin-right: .2rem;
    }
  }
}
.xiala.ng-hide{
  opacity: 0;
}


.footer{
  bottom: 0;
  background: #FCFCFC;
  border-top: 1px solid #EBEBEB;
}
.footer.ng-hide{
  opacity: 0;
}
.footer-wrap{
  height: 100%;
  padding: 0 .1rem;
}
.footer-lists{
  &:after{
    @extend %clear;
  }
  .footer-item{
    width: 25%;
    height: 100%;
    float: left;
    text-align: center;
    span{
      display: block;
      height: .3rem;
      color: #B6B6B6;
      margin-top: .02rem;
      position: relative;
    }
    .iconfont{
      font-size: .27rem;
    }
    .iconfont:before{
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      line-height: .26rem;
    }
  }
  .footer-item.active span{
    color: #46C01B;
  }
}
.blocks{
  height: 5.15rem;
  position: relative;
  top: .50rem;
  overflow: hidden;
}
.content{
  position: relative;
}
.page{
  width: 100%;
  height: 5.15rem;
  position: fixed;
  top: .5rem;
  bottom: 0;
  overflow: auto;
}
.chat-page .chat-lists{
  background: #fff;
  .chat-item{
    height: .64rem;
    border-bottom: 1px solid #F0F0F0;
    padding: .06rem .08rem;
    position: relative;
    overflow: hidden;
  }
  .chat-item .slide{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    background: #fff;
    transform: none;
    transition: transform .5s ease;
  }
  .chat-item .slide.show-delete{
    transform: translateX(-0.8rem);
  }
  .chat-item .del-btn{
    width: .8rem;
    height: .6rem;
    position: absolute;
    top: .02rem;
    right: 0;
    background: #ff6534;
    color: #fff;
    line-height: .6rem;
    text-align: center;
    font-size: .16rem;
  }
  .chat-item .chat-link{
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 12;
  }
  .chat-item .slide .pic,.chat-item .slide .chat-info{
    height: .48rem;
    padding: .05rem .08rem;
    float: left;
  }
  .chat-item .pic{
    width: .48rem;
    margin-top: .07rem;
  }
  .chat-info{
    width: 2.8rem;
    span{
      display: block;
    }
    .chat-user{
      font-size: .16rem;
      line-height: .24rem;
    }
    .chat-desc{
      font-size: .135rem;
      line-height: .2rem;
      color: #D3D3D3;
    }
  }
}


.contacts-page h5{
  padding: 0 .16rem;
  height: .25rem;
  line-height: .25rem;
  background: #EBEBEB;
}
.contacts-page .contacts-lists{
  padding: 0 .16rem;
  background: #fff;
  .contacts-item{
    width: 100%;
    height: .49rem;
    border-bottom: 1px solid #EDEDED;
    position: relative;
    .contacts-pic{
      width: .37rem;
      height: .37rem;
      float: left;
      margin: .06rem 0;
    }
    .contacts-name{
      width: 2.81rem;
      height: .49rem;
      line-height: .49rem;
      float: left;
      font-size: .15rem;
      padding-left: .15rem;
    }
  }
}

.find-page li,.my-page li{
  width: 100%;
  height: .49rem;
  padding: 0 .16rem;
  box-sizing: border-box;
  background: #fff;
  a{
    display: block;
    width: 100%;
    height: 100%;
    span{
      display: block;
      float: left;
    }
    .find-pic{
      width: .27rem;
      height: .27rem;
      margin: .11rem 0;
    }
    .find-text{
      width: 2.9rem;
      height: .49rem;
      line-height: .49rem;
      padding-left: .1rem;
      font-size: .15rem;
      color: #000;
    }
  }
}
.find-page{
  .friend,.sao,.around,.shop{
    margin-top: .2rem;
  }
  .sao a,.shop a{
    border-bottom: 1px solid #ededed;
  }
}


.my-info{
  background: #fff;
  width: 100%;
  height: .8rem;
  margin-top: .2rem;
  padding: .06rem;
  .my-img,.my-info,.my-erweima{
    float: left;
  }
  .my-img,.my-erweima{
    width: .65rem;
    height: .65rem;
    line-height: .65rem;
  }
  .my-desc{
    width: 1.7rem;
    height: .65rem;
    margin-left: .09rem;
    float: left;
    span{
      height: .23rem;
      display: block;
    }
    .my-name{
      font-size: .15rem;
      margin-top: .11rem;
    }
  }
}
.my-page{
  overflow: hidden;
  .find-lists .find-item{
    margin-top: 0.2rem;
  }
  .find-lists .find-item.shoucang{
    margin-top: 0;
    border-top: 1px solid #ededed;
  }
}




.chat-header{
  background: #393A3F;
  color: #fff;
  .header-left{
    width: 1.75rem;
    padding: .1rem .15rem;
    height: 100%;
    box-sizing: border-box;
    text-align: center;
    float: left;
    line-height: .3rem;
    font-size: .17rem;
    .icon-jiantou{
      margin-right: .1rem;
      line-height: .3rem;
      margin-right: .15rem;
    }
  }
  .header-right{
    float: right;
    width: .5rem;
    height: .5rem;
    padding: .15rem;
  }
}


.time-wrapper{
  height: .45rem;
  padding: .13rem 1.22rem;
  .time{
    padding: .03rem;
    background: #D4D4D4;
    color: #fff;
    letter-spacing: .02rem;
  }
}



.chat-content .chat-lines{
  padding: .1rem;
  .chat-line{
    max-width: 100%;
    min-height: .4rem;
    margin-bottom: .1rem;
    .user-img{
      width: .4rem;
      height: .4rem;
      float: left;
    }
    .user-img.me{
      float: right;
    }
    .chat-text.me{
      float: right;
      margin-right: .15rem;
    }
    .chat-text.me:after{
      display: inline-block;
      content: '▲';
      transform: rotate(90deg);
      position: absolute;
      right: -0.1rem;
      top: .07rem;
      color: #fff;
    }
    .chat-text.me:before{
      content: '';
    }
    .chat-text{
      float: left;
      max-width: 2.3rem;
      min-height: .3rem;
      padding: .08rem .15rem;
      margin-left: .15rem;
      background: #fff;
      border-radius: .03rem;
      position: relative;
    }
    .chat-text:before{
      display: inline-block;
      content: '▲';
      transform: rotate(-90deg);
      position: absolute;
      left: -0.1rem;
      color: #fff;
    }
    // .chat-text.me:before{
    //   display: inline-block;
    //   content: '▲';
    //   transform: rotate(-90deg);
    //   position: absolute;
    //   right: -0.1rem;
    //   color: #fff;
    // }
  }
}
.chat-bottom{
  &:after{
    @extend %clear;
  }
  input{
    border: none;
    outline: none;
  }
  li{
    width: 100%;
    display: inline-block;
  }
  .chat-bottom-icon{
    width: .3rem;
    height :.5rem;
  }
  .wifi{
    float: left;
  }
  .smile,.add{
    float: right;
  }
}


.beizhu-wrapper {
  width: 100%;
  height: .45rem;
  background: #fff;
  padding: .15rem;
  margin-top: .2rem;
}
.user-info-wrapper {
  margin-top: .2rem;
  .user-info .user-info-lists {
    padding: .2rem .15rem 0 .15rem;
    background: #fff;
    li{
      height: .49rem;
      border-bottom: 1px solid #ccc;
      font-size: .18rem;
      line-height: .49rem;
    }
  }
}
.btn-wrapper {
  margin-top: .2rem;
  .btn{
    // padding: 0 .2rem;
    button{
      width: 3.25rem;
      outline: none;
      border: none;
      height: .48rem;
      display: block;
      margin: 0 auto;
      font-size: .16rem;
    }
    .news{
      background: #1AAD19;
      color: #fff;
    }
    .video-chat{
      background: #fff;
      margin-top: .2rem;
    }
  }
}
.chat-footer{
  bottom: 0;
  z-index: 100;
}
