<div class="find-page page">
  <div class="find-wrap">
    <ul class="find-lists">
      <li class="find-item friend">
        <a href="" title="朋友圈">
          <span class="find-pic"><img src="image/朋友圈.png" alt=""></span>
          <span class="find-text">朋友圈</span>
        </a>
      </li>
      <li class="find-item sao">
        <a href="" title="扫一扫">
          <span class="find-pic sao"><img src="image/扫一扫.png" alt=""></span>
          <span class="find-text">扫一扫</span>
        </a>
      </li>
      <li class="find-item">
        <a href="" title="摇一摇">
          <span class="find-pic"><img src="image/摇一摇.png" alt=""></span>
          <span class="find-text">摇一摇</span>
        </a>
      </li>
      <li class="find-item around">
        <a href="" title="附近的人">
          <span class="find-pic"><img src="image/附近的人.png" alt=""></span>
          <span class="find-text">附近的人</span>
        </a>
      </li>
      <li class="find-item shop">
        <a href="" title="购物">
          <span class="find-pic shop"><img src="image/购物.png" alt=""></span>
          <span class="find-text">购物</span>
        </a>
      </li>
      <li class="find-item">
        <a href="" title="购物">
          <span class="find-pic"><img src="image/游戏.png" alt=""></span>
          <span class="find-text">游戏</span>
        </a>
      </li>
    </ul>
  </div>
</div>
