<footer class="footer">
  <div class="footer-wrap">
    <ul class="footer-lists">
      <li class="footer-item active" ng-class="{active:title=='微信'}" ng-init="title='微信'" ng-click="title='微信'">
        <a href="#/chat">
          <span class="iconfont icon-liaotian3"></span>
          <span>微信</span>
        </a>
      </li>
      <li class="footer-item" ng-class="{active:title=='通讯录'}" ng-click="title='通讯录'">
        <a href="#/contacts">
          <span class="iconfont icon-tongxunlu"></span>
          <span>通讯录</span>
        </a>
      </li>
      <li class="footer-item" ng-class="{active:title=='发现'}" ng-click="title='发现'">
        <a href="#/find">
          <span class="iconfont icon-faxian"></span>
          <span>发现</span>
        </a>
      </li>
      <li class="footer-item" ng-class="{active:title=='我'}" ng-click="title='我'">
        <a href="#/me">
          <span class="iconfont icon-gerenzhongxin"></span>
          <span>我</span>
        </a>
      </li>
    </ul>
  </div>
</footer>
