<header class="header">
  <div class="header-left">
     微信
  </div>
  <div class="header-right">
    <span class="iconfont icon-fangdajing"></span>
    <span class="iconfont icon-jiahao" ng-click="show=!show" ng-init="show=false"></span>
  </div>



  <div class="xiala" ng-show="show">
    <ul class="xiala-lists">
      <li class="xiala-item">
        <a href="">
          <span class="iconfont icon-liaotian3">发起群聊</span>
        </a>
      </li>
      <li class="xiala-item">
        <a href="">
          <span class="iconfont icon-liaotian3">添加朋友</span>
        </a>
      </li>
      <li class="xiala-item">
        <a href="">
          <span class="iconfont icon-saoyisao">扫一扫</span>
        </a>
      </li>
      <li class="xiala-item">
        <a href="">
          <span class="iconfont icon-qian">收付款</span>
        </a>
      </li>
      <li class="xiala-item">
        <a href="">
          <span class="iconfont icon-yijianfankui">帮助与反馈</span>
        </a>
      </li>
    </ul>
  </div>
</header>
