<div class="my-page page">
  <div class="my-info">
    <div class="my-img"><img src="image/01.jpg" alt=""></div>
    <div class="my-desc">
      <span class="my-name">壕不是坑吗</span>
      <span class="my-num">微信号:QI18435157540</span>
    </div>
    <div class="my-erweima">
    </div>
  </div>
  <div class="my-wrap">
    <ul class="find-lists">
      <li class="find-item xiangce">
        <a href="" title="扫一扫">
          <span class="find-pic"><img src="" alt=""></span>
          <span class="find-text">相册</span>
        </a>
      </li>
      <li class="find-item shoucang">
        <a href="" title="摇一摇" class="shoucang">
          <span class="find-pic"><img src="" alt=""></span>
          <span class="find-text">收藏</span>
        </a>
      </li>
      <li class="find-item around">
        <a href="" title="附近的人">
          <span class="find-pic"><img src="" alt=""></span>
          <span class="find-text">钱包</span>
        </a>
      </li>
      <li class="find-item shop">
        <a href="" title="购物">
          <span class="find-pic shop"><img src="" alt=""></span>
          <span class="find-text">表情</span>
        </a>
      </li>
      <li class="find-item">
        <a href="" title="购物">
          <span class="find-pic"><img src="" alt=""></span>
          <span class="find-text">设置</span>
        </a>
      </li>
    </ul>
  </div>
</div>
